body {
  text-align: center;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.game {
  /* display: flex;
  flex-direction: column; */

  /* position: relative; */
  border-radius: 20px;
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 50px;

  background: url(img/background.jpg) center/cover no-repeat;
}

.game_header {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
}

.game_level {
  position: relative;
  left: 21rem;
  top: -7.2rem;
  user-select: none;
}

.game__button {
  margin: auto;
  margin-bottom: 0.7rem;
  font-size: 1.4rem;
  transition: transfrom 300ms ease-in;
}

.game__button:hover {
  /* 키우는 것 */
  transform: scale(1.1);
}

.game__timer {
  font-size: 1.6rem;
  background-color: white;
  border-radius: 10px;
  border: 4.5px solid black;
  width: 85px;
  margin: auto;
  user-select: none;
}

.game__score {
  font-size: 1.7rem;
  user-select: none;
}

.game__field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  /* 당근이 집위에 나타나면 안돼 ㅎㅎ */
}

.pop-up {
  border-radius: 20px;
  width: 25rem;
  padding: 2rem;
  margin: auto;
  background-color: #00000090;
  color: white;
  transform: translateY(-165%);
}

.pop-up-hide {
  display: none;
}

.pop-up-refresh {
  display: block;
  margin: auto;
  font-size: 4rem;
}

.pop-up-message {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 0.3rem;
}

.fa-chevron-circle-right {
  color: white;
}

.angry {
  position: relative;
  top: -507.5px;
  width: 200px;
  animation: shake 1.5s;
  transform: scale(2);
}

.angry-hide {
  display: none;
}

.bear,
.slide_bear,
.shaking_bear,
.ice,
.moving_ice,
.random_ice {
  transition: transform 300ms ease;
}

.bear:hover,
.slide_bear:hover,
.shaking_bear:hover,
.ice:hover,
.moving_ice:hover,
.random_ice:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.moving_ice {
  width: 75px;
  height: 80px;
  animation: moving_ice 4s ease-in Infinite Alternate;
}

.random_ice {
  width: 75px;
  height: 80px;
  animation: random_ice 4s ease-in Infinite Alternate;
}

.slide_bear {
  animation: slidein 1.5s;
}
.shaking_bear {
  animation: shakingbear 1.5s infinite;
}

@keyframes slidein {
  from {
    left: 90%;
  }

  25% {
    /* left: 50%; */
  }

  75% {
    /* font-size: 300%; */
    /* margin-left: 10%; */
  }

  to {
    /* margin-left: 0%; */
  }
}

@keyframes shakingbear {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  20% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  30% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  40% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  50% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  60% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  80% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
    transform: scale(2);
  }
}

@keyframes moving_ice {
  0% {
    top: 0px;
  }
  95% {
    width: 100px;
  }
  to {
    top: 200px;
    width: 85px;
    height: 85px;
  }
}

@keyframes random_ice {
  95% {
    width: 100px;
  }
  to {
    top: 200px;
    width: 85px;
    height: 85px;
  }
}
